@import '../../sass/variables';

.radioInput input {
  display: none;
}

.radioInput {
  --container_width: 500px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background-color: $bg-grey;
  color: #fff;
  width: var(--container_width);
  overflow: hidden;
  border: 1px solid $orange;
  margin: 0 auto;
  margin-top: 50px;

}

.radioInput label {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 18px;
}

.selection {
  display: none;
  position: absolute;
  height: 100%;
  width: calc(var(--container_width) / 4);
  z-index: 0;
  left: 0;
  top: 0;
  transition: .15s ease;
}

.radioInput label:has(input:checked) {
  color: #000;
}

.radioInput label:has(input:disabled) {
  color: #cecece;
  cursor: default;
}

.radioInput label:has(input:checked) ~ .selection {
  background-color: $accent-yellow;
  display: inline-block;
}

.radioInput label:nth-child(1):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 0/4));
}

.radioInput label:nth-child(2):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 1/4));
}

.radioInput label:nth-child(3):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 2/4));
}
.radioInput label:nth-child(4):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 3/4));
}